useDynLib(RobustGaSP)
exportPattern("^[[:alpha:]]+")
import(Rcpp,methods)
importFrom(Rcpp, evalCpp)
importFrom(graphics, plot)
importFrom("stats", "optim","optimize","qt","rchisq", "rnorm","qqline", "qqnorm")
importFrom("graphics", "lines", "par")

## S4
exportClasses(rgasp) #,rgasp.RobustGaSP,summary.RobustGaSP,predict.RobustGaSP)
exportMethods(show,predict,Sample,Plot)
export(rgasp)
## S3
S3method(predict, rgasp)
